Alfreds Futterkiste	Berlin	Germany<br>
Berglunds snabbköp	Luleå	Sweden<br>
Centro comercial Moctezuma	México D.F.	Mexico<br>
Ernst Handel	Graz	Austria<br>
FISSA Fabrica Inter. Salchichas S.A.	Madrid	Spain<br>
Galería del gastrónomo	Barcelona	Spain<br>
Island Trading	Cowes	UK<br>
Königlich Essen	Brandenburg	Germany<br>
Laughing Bacchus Wine Cellars	Vancouver	Canada<br>
Magazzini Alimentari Riuniti	Bergamo	Italy<br>
North/South	London	UK<br>
Paris spécialités	Paris	France<br>
Rattlesnake Canyon Grocery	Albuquerque	USA<br>
Simons bistro	København	Denmark<br>
The Big Cheese	Portland	USA<br>
Vaffeljernet	Århus	Denmark<br>
Wolski Zajazd	Warszawa	Poland<br>