<DOCTYPE HTML>
    <head>
        <body>
            <Title>page Title</Title>

                <h1> HTML Header</h1>
                <P>This is first paragraph</P>
            
        </body>
    </head> 
</html>