@import url("https://fonts.googleapis.com/css2?family=poppins:wght@200;400,600&display=swap");
{
    box-sizeing:border-box;

    
}
body{
    background-color: #b8c6db;
    background-image: linear-gradient(315deg,
    #b8c6db 0%, #f5f7fa 74%);
    font-family: "poppins",sans-serif;
    margin: 0;
    min-height: 100vh;
     
}