!DOCTYPE html>
<head>


    <style>
        table , th, td{
            border: 1px solid black;
            border-collapse: collapse;
            th ,td{
                padding:2px;
                text-align:link;


            }
        </style>
    </head>
    <body>
 
<table style=" width 100%">

<h1> HTML BORDER</h1>
<p> Use css  border properties</p>
<tr>
    <th>Name</th>
    <th colspan="2"> telephone </th>
    
    <tr>
         <td> xyz</td>
         <td> 348756</td>
         <td>200000</td>
    </tr>
</tr>
</table>
    </body>
</html>